<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

    <button onclick="createBox()" id="create-btn">메모 필드 생성</button>

    <div id="container"></div>
    
    <!-- Socket.IO 스크립트 추가 -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <!-- 내 스크립트 추가 -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
